/* this is for alternative titlebars and panels */

@define-color gtk_titlebar_bg_color #2e2e2e;
@define-color gtk_titlebar_bg_backdrop_color #2a2a2a;
@define-color gtk_titlebar_fg_color white;
@define-color gtk_titlebar_button_color mix(@gtk_titlebar_bg_color,white,0.2);

/*.titlebar entry selection,
.titlebar button.suggested-action{background-color: @gtk_selected_fg_color; color: @gtk_selected_bg_color;}

.titlebar button.suggested-action:disabled{background-color: alpha(@gtk_selected_fg_color,0.5);}*/
