*{selection-background-color: rgba(255,255,255, 0.2); text-shadow: none; icon-shadow: none;}

/* TEXT */

StLabel,
StIcon,
.calendar,
.search-entry,
.app-folder-dialog .folder-name-container .folder-name-entry,
StEntry,
StButton,
.calendar .calendar-today
{color: #d6d6d6 !important;}

.calendar .calendar-nonwork-day,
.popup-menu-item:insensitive,
.popup-inactive-menu-item:insensitive,
.events-button .event-time,
.world-clocks-button .world-clocks-city,
.message .message-body,
.message-list .button:insensitive,
.modal-dialog StButton:insensitive,
.modal-dialog StEntry:insensitive,
StEntry StLabel.hint-text,
.popup-menu StEntry:insensitive,
.popup-inactive-menu-item,
.popup-inactive-menu-item:insensitive,
.popup-menu-item:insensitive StLabel,
.popup-inactive-menu-item StLabel,
.popup-inactive-menu-item:insensitive StLabel
{color: rgba(255,255,255, 0.5) !important;}

.calendar .calendar-other-month-day,
.calendar .calendar-week-number,
.world-clocks-button .world-clocks-time,
.world-clocks-button .world-clocks-timezone,
.weather-button .weather-forecast-time,
.message .message-secondary-bin > .event-time,
.message-media-control:insensitive
{color: rgba(255,255,255, 0.3) !important;}

/* BACKGROUND */

.calendar StButton,
.app-well-app.app-folder .overview-icon,
.app-folder.grid-search-result .overview-icon,
.app-well-app .overview-icon,
.grid-search-result .overview-icon,
.dash-item-container .show-apps .overview-icon,
.list-search-result,
.search-provider-icon,
.switcher-list .item-box,
.list-search-result, .search-provider-icon,
#dash StButton,
#overview StButton,
.app-folder-dialog StButton,
#panel.unlock-screen,
#panel.login-screen,
#panel:overview,
StButton:insensitive,
StButton.datemenu-today-button
{background-color: transparent;}

.popup-menu StButton:insensitive,
.popup-menu .calendar StButton,
.popup-menu .calendar StButton:insensitive,
.popup-menu .message-media-control,
.notification-banner StButton:insensitive,
#dashtopanelTaskbar StButton,
#panel .panel-button.clock-display .clock,
#panel .panel-button,
StButton.show-apps 
{background-color: transparent !important;}

.calendar .calendar-day-with-events{background-image: image(red) !important;}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle,
#dashtodockContainer StWidget.focused .app-well-app-running-dot,
StWidget.focused .app-well-app-running-dot
{background-color: rgba(255,255,255, 0.8) !important;}

#panel
{background-color: black;}

.app-well-app.app-folder .overview-icon:hover,
.app-folder.grid-search-result .overview-icon:hover,
.app-well-app .overview-icon:hover,
.grid-search-result .overview-icon:hover,
.dash-item-container .show-apps .overview-icon:hover,
.app-well-app:hover .overview-icon,
.grid-search-result:hover .overview-icon,
.app-well-app:selected .overview-icon,
.grid-search-result:selected .overview-icon,
.app-well-app:focus .overview-icon,
.grid-search-result:focus .overview-icon,
#LookingGlassDialog > #Toolbar .lg-toolbar-button,
.app-folder-dialog .folder-name-container .edit-folder-button,
.app-folder-dialog .folder-name-container .folder-name-entry,
.list-search-result:hover,
.search-provider-icon:hover,
.switcher-list .item-box:hover,
.switcher-list .item-box:selected,
.search-entry,
.panel-button:hover,
.popup-menu-item:focus,
.popup-menu-item:hover,
.audio-selection-device:hover,
.audio-selection-device:focus,
.nm-dialog-item:hover,
.nm-dialog-item:selected,
.screenshot-ui-capture-button .screenshot-ui-capture-button-circle:hover,
.screenshot-ui-capture-button .screenshot-ui-capture-button-circle:focus,
.screenshot-ui-shot-cast-container,
.popup-sub-menu,
.popup-menu-item:checked,
.popup-menu StButton,
.calendar,
.popup-menu .calendar StButton:hover,
.dash-item-container .show-apps:hover .overview-icon,
.notification-banner StButton
{background-color: rgba(255,255,255, 0.1) !important;}

.panel-button:active,
#dashtodockContainer .app-well-app-running-dot,
.app-well-app-running-dot,
.popup-menu StButton:hover,
.popup-menu .calendar StButton:active,
.popup-menu .calendar StButton:checked,
.popup-menu .calendar StButton:selected,
.app-folder-dialog .folder-name-container .edit-folder-button:hover,
.app-folder-dialog .folder-name-container .folder-name-entry:hover,
.dash-item-container .show-apps:selected .overview-icon,
.dash-item-container .show-apps:focus .overview-icon,
.dash-item-container .show-apps:selected .overview-icon:active .overview-icon,
.dash-item-container .show-apps:focus .overview-icon:active .overview-icon,
.dash-item-container .show-apps:selected .overview-icon:hover .overview-icon,
.dash-item-container .show-apps:focus .overview-icon:hover .overview-icon,
.dash-item-container .show-apps:active .overview-icon,
.notification-banner StButton:hover,
.popup-sub-menu
{background-color: rgba(255,255,255, 0.15) !important;}

.popup-menu StButton:active,
.popup-menu StButton:checked,
.popup-menu StButton:selected,
.app-folder-dialog .folder-name-container .edit-folder-button:active,
.app-folder-dialog .folder-name-container .folder-name-entry:active,
.app-folder-dialog .folder-name-container .edit-folder-button:checked,
.app-folder-dialog .folder-name-container .folder-name-entry:checked,
.dash-item-container .show-apps:outlined .overview-icon,
.dash-item-container .show-apps:checked .overview-icon,
.dash-item-container .show-apps:outlined .overview-icon:active .overview-icon,
.dash-item-container .show-apps:checked .overview-icon:active .overview-icon,
.dash-item-container .show-apps:outlined .overview-icon:hover .overview-icon,
.dash-item-container .show-apps:checked .overview-icon:hover .overview-icon,
.notification-banner StButton:active,
.notification-banner StButton:checked,
#dashtodockContainer .show-apps:active .overview-icon, #dashtodockContainer .show-apps:checked .overview-icon,
#dashtodockContainer .app-well-app:active .overview-icon,
#dashtodockContainer .app-well-app:checked .overview-icon
{background-color: rgba(255,255,255, 0.2) !important;}

StButton,
StEntry,
.screenshot-ui-panel,
.workspace-switcher,
.switcher-list,
.resize-popup,
.osd-monitor-label,
.osd-window,
.screenshot-ui-tooltip,
.window-caption,
.dash-label,
#keyboard,
.keyboard-key.shift-key-uppercase,
#LookingGlassDialog,
#LookingGlassPropertyInspector,
.calendar,
.nm-dialog-scroll-view,
.search-section-content,
.dash-background,
#overview StButton.window-close,
.screenshot-ui-close-button,
.app-folder-dialog,
StButton .notification-banner,
.popup-menu-content
{background-color: #474747;}

.modal-dialog,
.candidate-popup-content,
.screenshot-ui-shot-cast-button,
#overviewGroup,
#keyboard
{background-color: #333;}

/* BOX SHADOW */

#panel .panel-button.clock-display .clock,
StButton .notification-banner,
StButton,
StEntry,
.popup-menu-content,
.candidate-popup-content,
.popup-menu StButton,
.popup-menu StButton:hover,
.popup-menu StButton:active,
.popup-menu StButton:checked,
.popup-menu StButton:selected,
.popup-menu StButton:insensitive,
.app-well-app.app-folder .overview-icon:hover,
.app-folder.grid-search-result .overview-icon:hover,
.app-well-app .overview-icon:hover,
.grid-search-result .overview-icon:hover,
.dash-item-container .show-apps .overview-icon:hover,
.app-well-app:hover .overview-icon,
.grid-search-result:hover .overview-icon,
.app-well-app:selected .overview-icon,
.grid-search-result:selected .overview-icon,
.app-well-app:focus .overview-icon,
.grid-search-result:focus .overview-icon,
#LookingGlassDialog > #Toolbar .lg-toolbar-button,
.app-folder-dialog .folder-name-container .edit-folder-button,
.app-folder-dialog .folder-name-container .folder-name-entry,
.list-search-result:hover,
.search-provider-icon:hover,
.notification-banner StButton,
.notification-banner StButton:hover,
.notification-banner StButton:active,
.notification-banner StButton:checked,
.notification-banner StButton:selected,
.notification-banner StButton:insensitive,
.popup-sub-menu,
.popup-menu-item:checked,
.switcher-list .item-box,
.switcher-list .item-box:hover,
.switcher-list .item-box:selected,
StButton.show-apps
{box-shadow: none !important;}

StButton:hover
{box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.2) !important;}

StButton:active,
StButton:checked
{box-shadow: inset 0 0 0 9999px rgba(255,255,255, 0.2) !important;}

#keyboard
{box-shadow: inset 0px 1px rgba(255,255,255, 0.15) !important;}

/* BORDERS */

.calendar StButton,
.message-media-control,
.app-well-app.app-folder .overview-icon,
.app-folder.grid-search-result .overview-icon,
.app-well-app .overview-icon,
.grid-search-result .overview-icon,
.dash-item-container .show-apps .overview-icon,
.list-search-result,
.search-provider-icon,
.switcher-list .item-box,
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle,
.search-entry,
#dash StButton,
#overview StButton,
.app-folder-dialog .folder-name-container .edit-folder-button,
.app-folder-dialog .folder-name-container .folder-name-entry,
.app-folder-dialog StButton,
.panel-button,
.popup-menu StButton,
.calendar,
.notification-banner StButton,
#dashtopanelTaskbar StButton,
StButton.show-apps
{border: none !important;}

StButton,
StEntry,
.nm-dialog-scroll-view,
.search-section-content,
.dash-background,
.window-caption,
.dash-label,
.app-folder-dialog,
.popup-menu-content,
.candidate-popup-content,
.osd-window,
.modal-dialog
{border: 1px solid rgba(0,0,0, 0.5) !important;}

.dash-separator,
.popup-sub-menu .popup-separator-menu-item .popup-separator-menu-item-separator,
.popup-separator-menu-item .popup-separator-menu-item-separator
{background-color: rgba(0,0,0, 0.5) !important;}

/* BORDER RADIUS */

.panel-button,
.popup-menu-item,
.popup-sub-menu,
.nm-dialog-item:selected,
.nm-dialog-scroll-view,
#dashtopanelTaskbar StButton,
#dashtopanelTaskbar StButton:hover,
#dashtopanelTaskbar StButton:active,
#dashtopanelTaskbar StButton:checked,
#dashtopanelTaskbar StButton:selected,
#dashtopanelTaskbar StButton:insensitive
{border-radius: 0px !important;}

StButton,
StEntry,
.calendar,
.window-caption,
.dash-label,
.switcher-list StButton,
.overview-icon,
.modal-dialog,
.dash-background,
.osd-window,
.app-folder-dialog,
.switcher-list,
.search-section-content,
.message-media-control,
.notification-banner StButton,
.list-search-result,
.search-provider-icon,
.popup-menu-content,
.candidate-popup-content
{border-radius: 6px !important;}

#overview StButton.window-close,
.screenshot-ui-close-button
{border-radius: 9999px !important;}

/* SIZES */

.modal-dialog,
.notification-banner
{padding: 8px;}

StEntry{margin: 8px !important; padding: 8px !important;}

StButton.modal-dialog-linked-button:last-child {margin-left: 6px;}

.popup-menu-boxpointer,
.candidate-popup-boxpointer {  -arrow-rise: 6px; }

.popup-menu-content,
.candidate-popup-content{padding: 6px 0px !important;}

.popup-menu-item{padding: 4px 12px; }

.nm-dialog-scroll-view { padding: 0px; }

#overview .search-entry{padding: 14px !important; border-radius: 9999px !important;}

/* Slider */
.slider{-barlevel-height: 8px;}
.osd-window .level{-barlevel-height: 8px;}

.slider,
.osd-window .level{
	-barlevel-background-color: rgba(255,255,255, 0.2);
	-barlevel-border-width: 0px;
	-barlevel-border-color: transparent;
	-barlevel-active-background-color: #d6d6d6;
	-barlevel-active-border-color: transparent;
	-barlevel-overdrive-color: red;
	-barlevel-overdrive-border-color: red;
	-barlevel-overdrive-separator-width: 2px;
	-slider-handle-radius: 0px;
	-slider-handle-border-width: 0px;
	-slider-handle-border-color: red;
	color: transparent;
	}

/* SVG */

.toggle-switch{height: 16px; width: 32px;}

.toggle-switch,
.toggle-switch-us{background-image: url("../general/dark-switch-off.svg");}

.toggle-switch:checked,
.toggle-switch-us:checked{background-image: url("../general/dark-switch-on.svg");}

.check-box StBin{height: 16px; width: 16px;}

.check-box StBin,
.check-box:focus StBin{background-image: url("../general/dark-checkbox-off.svg");}

.check-box:checked StBin,
.check-box:focus:checked StBin{background-image: url("../general/dark-checkbox.svg");}
