/* GTK4 */

check,
radio,
.normal-icons { -gtk-icon-size: 16px; }
.large-icons { -gtk-icon-size: 32px; }

statuspage.compact > scrolledwindow > viewport > box > clamp > box > .icon { -gtk-icon-size: 96px; }

window.aboutdialog image.large-icons,
statuspage > scrolledwindow > viewport > box > clamp > box > .icon { -gtk-icon-size: 128px; }

frame,
.frame
{border: 1px solid @gtk_borders;}

window.background.csd{ border-radius: 6.0px;}

.dialog box .dialog-action-area{border-spacing: 8px;}

/* Headerbars */

headerbar{min-height: 0px; margin: 0px;}

headerbar windowhandle{ min-height: 38px;}

headerbar > windowhandle > box { padding: 4px; }

windowcontrols { border-spacing: 6px; }

windowcontrols:not(.empty).start:dir(ltr),
windowcontrols:not(.empty).end:dir(rtl) { margin-right: 6px; }

windowcontrols:not(.empty).start:dir(rtl),
windowcontrols:not(.empty).end:dir(ltr) { margin-left: 6px; }

headerbar > windowhandle > box,
headerbar > windowhandle > box > box.start,
headerbar > windowhandle > box > box.end { border-spacing: 4px; }

windowcontrols > button > image{background: none;}

headerbar viewswitcher.narrow indicatorbin image{color: transparent; margin: -6px 0px;}
headerbar viewswitcher.narrow button label{font-size: 115%; margin-bottom: 4px;}

/* Messagedialogs */

window.dialog.message label.title { font-weight: 800; font-size: 10pt; }
window.dialog.message box.dialog-vbox.vertical { border-spacing: 10px; }

/* Toolbars */

.toolbar{
	border-spacing: 4px;
	padding: 4px;
	border-style: solid;
	border-color: @gtk_borders;
	border-radius: 0;
	border-width: 1px 0 1px 0;
}

statusbar { padding: 6px 10px 6px 10px; }

shortcuts-section { margin: 24px; }

infobar > revealer > box { padding: 8px; border-spacing: 10px; background-color: transparent; color: inherit; }

/* Menus */

popover.background{ background-color: transparent; border: none;}

popover.background > arrow,
popover.background > contents
{ border: 1px solid @gtk_transparent_borders; box-shadow: 0 1px 2px @gtk_menu_shadow; }

popover.background > arrow,
popover.background > contents
{background-color: @gtk_base_color;}

popover.menu > contents > stack > box,
popover.menu > contents > scrolledwindow > viewport > stack > box { padding: 0px; }

/* Tooltips */

tooltip { padding: 4px; box-shadow: none; }
tooltip.background { background-color: alpha(black,0.9); background-clip: padding-box; border: 1px solid alpha(white,0.2); color: white; }
tooltip > box { border-spacing: 6px; }

/* Entry */

entry{ padding: 0px; min-height: 0px;}
text{ padding: 6px; min-height: 0px;}
entry image{ padding: 0px 6px;}

searchbar > revealer > box entry{ margin: 8px;}

spinbutton.vertical > text,
spinbutton:not(.vertical),
entry,
spinbutton.vertical:focus-within,
entry:focus-within,
spinbutton:focus-within,
spinbutton.vertical:focus-within,
spinbutton.vertical > text.error,
spinbutton.error:not(.vertical),
entry.error,
spinbutton.error.vertical:focus-within,
spinbutton.vertical > text.warning,
spinbutton.warning:not(.vertical),
entry.warning,
spinbutton.warning.vertical:focus-within,
entry.warning:focus-within,
spinbutton.warning:focus-within,
spinbutton.warning.vertical:focus-within
{ outline: 2px solid transparent; outline-offset: -2px; }

entry:focus-within,
spinbutton:focus-within,
spinbutton.vertical:focus-within
{ outline-color: @gtk_selected_bg_color; }

spinbutton.vertical > text.error,
spinbutton.error:not(.vertical),
entry.error
{ color: @error_color;  }

entry.error:focus-within,
spinbutton.error:focus-within,
spinbutton.error.vertical:focus-within
{ outline-color: @error_color; }

spinbutton.vertical > text.error > selection,
spinbutton.error:not(.vertical) > selection,
entry.error > selection,
spinbutton.error.vertical > text > selection:focus-within
{ background-color: @error_color; color: white; }

spinbutton.vertical > text.warning,
spinbutton.warning:not(.vertical),
entry.warning{ color: @warning_color; }

entry.warning:focus-within,
spinbutton.warning:focus-within,
spinbutton.warning.vertical:focus-within
{ outline-color: @warning_color;}

spinbutton.vertical > text.warning > selection,
spinbutton.warning:not(.vertical) > selection,
entry.warning > selection
spinbutton.warning.vertical > text > selection:focus-within
{ background-color: @warning_color; color: white; }

spinbutton.vertical > text progress > trough > progress,
spinbutton:not(.vertical) progress > trough > progress,
entry progress > trough > progress
{ background-color: transparent; background-image: none; border-radius: 0; border-width: 0 0 2px; border-color: @gtk_selected_bg_color; border-style: solid; box-shadow: none; }

/* Scrollbar */

scrollbar > range > trough { margin: 3px; }

scrollbar > range > trough > slider { min-width: 6px; min-height: 6px; margin: 0px; border: none; }

scrollbar.overlay-indicator.hovering > range > trough,
scrollbar.overlay-indicator > range > trough > slider,
.osd scrollbar.overlay-indicator > range > trough > slider{ outline-color: transparent;}

scrollbar.overlay-indicator.hovering > range > trough { background-color: transparent; }

/* Overshoot */

scrolledwindow > overshoot.top {background-image: radial-gradient(farthest-side at top, alpha(@gtk_selected_bg_color,0.2) 25%, alpha(@gtk_selected_bg_color,0.2)), radial-gradient(farthest-side at top, transparent, transparent); background-size: 100% 25%, 100% 50%; background-repeat: no-repeat; background-position: top; background-color: transparent; border: none; box-shadow: none;}

scrolledwindow > overshoot.bottom {background-image: radial-gradient(farthest-side at top, alpha(@gtk_selected_bg_color,0.2) 25%, alpha(@gtk_selected_bg_color,0.2)), radial-gradient(farthest-side at bottom, transparent, transparent); background-size: 100% 25%, 100% 50%; background-repeat: no-repeat; background-position: bottom; background-color: transparent; border: none; box-shadow: none;}

scrolledwindow > overshoot.left { background-image: radial-gradient(farthest-side at left, alpha(@gtk_selected_bg_color,0.2) 25%, alpha(@gtk_selected_bg_color,0.2)), radial-gradient(farthest-side at left, transparent, transparent); background-size: 25% 100%, 50% 100%; background-repeat: no-repeat; background-position: left; background-color: transparent; border: none; box-shadow: none; }

scrolledwindow > overshoot.right { background-image: radial-gradient(farthest-side at left, alpha(@gtk_selected_bg_color,0.2) 25%, alpha(@gtk_selected_bg_color,0.2)), radial-gradient(farthest-side at right, transparent, transparent); background-size: 25% 100%, 50% 100%; background-repeat: no-repeat; background-position: right; background-color: transparent; border: none; box-shadow: none; }

/* Separators */

.sidebar:not(separator):dir(ltr):not(placessidebar),
.sidebar:not(separator).left:not(placessidebar),
.sidebar:not(separator).left:dir(rtl):not(placessidebar)
{
	border-right: 1px solid @gtk_borders;
	border-left-style: none;
	min-width: 0;
}

.sidebar:not(separator):dir(rtl):not(placessidebar),
.sidebar:not(separator).right:not(placessidebar)
{
	border-left: 1px solid @gtk_borders;
	border-right-style: none;
	min-width: 0;
}

columnview.column-separators > listview > row > cell { border-right: 1px solid @gtk_borders; }

paned.horizontal > separator:dir(ltr) { box-shadow: inset 1px 0 @gtk_borders; }
paned.horizontal > separator:dir(rtl) {box-shadow: inset -1px 0 @gtk_borders; }

filechooser paned.horizontal > separator:dir(ltr),
filechooser paned.horizontal > separator:dir(rtl){box-shadow: none;}

filechooser placessidebar.sidebar { margin-right: 6px;}

/* Typography */

.large-title { font-weight: 300; font-size: 24pt; }

.title-1 { font-weight: 800; font-size: 20pt; }

.title-2 { font-weight: 800; font-size: 15pt; }

.title-3 { font-weight: 700; font-size: 15pt; }

.title-4 { font-weight: 700; font-size: 13pt; }

.heading { font-weight: 700; font-size: 11pt; }

.body { font-weight: 400; font-size: 11pt; }

.caption-heading { font-weight: 700; font-size: 9pt; }

.caption { font-weight: 400; font-size: 9pt; }

button:not(.suggested-action):not(.destructive-action){font-weight: normal;}

headerbar windowhandle viewswitcher button:not(.suggested-action):not(.destructive-action){font-weight: bold;}

/* Scale Marks */

scale > trough > slider { min-width: 0px; min-height: 0px; outline: none; }

scale > value { color: alpha(currentColor,0.55); font-feature-settings: "tnum"; }

scale.horizontal > marks { color: alpha(currentColor,0.55); }

scale.horizontal > marks.top { margin-bottom: 6px; }

scale.horizontal > marks.bottom { margin-top: 6px; }

scale.horizontal > marks indicator { background-color: currentColor; min-height: 6px; min-width: 1px; }

scale.horizontal > value.left { margin-right: 9px; }

scale.horizontal > value.right { margin-left: 9px; }

scale.horizontal.fine-tune > marks.top { margin-top: 3px; }

scale.horizontal.fine-tune > marks.bottom { margin-bottom: 3px; }

scale.horizontal.fine-tune > marks indicator { min-height: 3px; }

scale.vertical > marks { color: alpha(currentColor,0.55); }

scale.vertical > marks.top { margin-right: 6px; }

scale.vertical > marks.bottom { margin-left: 6px; }

scale.vertical > marks indicator { background-color: currentColor; min-height: 1px; min-width: 6px; }

scale.vertical > value.top { margin-bottom: 9px; }

scale.vertical > value.bottom { margin-top: 9px; }

scale.vertical.fine-tune > marks.top { margin-left: 3px; }

scale.vertical.fine-tune > marks.bottom { margin-right: 3px; }

scale.vertical.fine-tune > marks indicator { min-height: 3px; }

button:disabled,
entry:disabled,
spinbutton:not(.vertical):disabled,
spinbutton.vertical:disabled,
check:disabled,
radio:disabled,
check:checked:disabled,
radio:checked:disabled,
check:indeterminate:disabled,
radio:indeterminate:disabled,
.inline-toolbar button.flat:disabled,
.inline-toolbar button:disabled,
.titlebar button:not(.suggested-action):not(.destructive-action).text-button:disabled,
.titlebar stackswitcher button:not(.suggested-action):not(.destructive-action):disabled,
.titlebar viewswitcher button:not(.suggested-action):not(.destructive-action):disabled,
.titlebar .linked button:not(.suggested-action):not(.destructive-action):disabled
{ filter: opacity(1.0); }

/* Clamp? */

.preferences scrolledwindow > .frame > clamp.large,
.preferences scrolledwindow > .frame > clamp.medium,
.preferences scrolledwindow > .frame > clamp.small,
.preferences scrolledwindow > .frame > clamp.large,
.preferences scrolledwindow > .frame > clamp.medium,
.preferences scrolledwindow > .frame > clamp.small
 { padding-bottom: 30px; }

statuspage > scrolledwindow > viewport > box > clamp:not(:last-child) > box,
statuspage > scrolledwindow > viewport > box > clamp > box > .icon:not(:last-child) { margin-bottom: 36px; }
statuspage > scrolledwindow > viewport > box > clamp > box > .title:not(:last-child) { margin-bottom: 12px; }

window.preferences > deck > deck > box > stack > stack > scrolledwindow > viewport > clamp,
preferencespage > scrolledwindow > viewport > clamp { margin: 0 12px; }

window.preferences > deck > deck > box > stack > stack > scrolledwindow > viewport > clamp > list,
window.preferences > deck > deck > box > stack > stack > scrolledwindow > viewport > clamp > box > preferencesgroup,
preferencespage > scrolledwindow > viewport > clamp > list, preferencespage > scrolledwindow > viewport > clamp > box > preferencesgroup { margin-top: 24px; }

clamp > box row {padding: 8px;}

clamp > box  popover row { padding: 4px 8px;}

/***********************
 * Windows Decorations *
 ***********************/

window.csd{ box-shadow: 0 2px 6px @gtk_shadow,0 0 0 1px @gtk_transparent_borders; outline: none;}

window.csd:backdrop{ box-shadow: 0 2px 6px alpha(@gtk_shadow,0.5),0 0 0 1px @gtk_transparent_borders;}

window.csd.maximized,
window.csd.fullscreen { border-radius: 0px; outline: none; box-shadow: none; transition: none; }
