/* Accent */
.view:not(treeview):selected,
.view selection,
iconview:selected,
iconview text:selected,
label selection,
spinbutton:not(.vertical) selection,
entry selection,
.nautilus-window flowboxchild:selected .icon-item-background,
box.vertical > widget > widget:selected,
.nemo-window .nemo-window-pane widget.entry:selected,
treeview.view:selected.chromium,
treeview.view:selected:focus.chromium,
XfdesktopIconView.view:active,
#MozillaGtkWidget.background > widget > scrolledwindow > textview text:selected,
#MozillaGtkWidget.background > widget > scrolledwindow > textview text:selected:focus,
#MozillaGtkWidget.background > widget > scrolledwindow > textview text selection,
assistant .sidebar label.highlight,

check:checked,
check:indeterminate,
radio:checked,
radio:indeterminate,
treeview.view check:checked,
treeview.view check:indeterminate,
treeview.view radio:checked,
treeview.view radio:indeterminate,
treeview.view.content-view.check:not(list):checked,
iconview.content-view.check:not(list):checked,
.content-view:not(list) check:checked,
switch:checked,
progressbar progress,
levelbar block:not(.empty),
levelbar block.high,
scale highlight
{color: @gtk_selected_fg_color; background-color: @gtk_selected_bg_color;}

menubar > menuitem:hover,
.menubar > menuitem:hover,
menu menuitem:hover,
.menu menuitem:hover,
menuitem.button.flat:hover,
popover button.menuitem:hover,
popover .menuitem:hover,
popover .menuitem.activatable:hover,
modelbutton.flat:hover,
.budgie-popover button.flat:hover,
.budgie-menu .categories button.flat:checked,
.budgie-popover row.activatable:selected,
.budgie-popover row.activatable:selected:hover,
.budgie-popover .sidebar .frame row.activatable:hover,
.budgie-popover .sidebar .frame row.activatable:selected,
.budgie-popover list .menuitem:hover
{ background-image: image(alpha(currentcolor,0.1));}

treeview.view:selected,
treeview.view:selected:hover,
treeview.view:selected:focus,
.thunar treeview.view:selected,
.thunar treeview.view:selected:hover,
.thunar treeview.view:selected:focus,
row.activatable:selected,
row.activatable:selected:hover,
row.activatable:hover:selected
{color: @gtk_fg_color; background-image: image(alpha(@gtk_selected_bg_color,0.3));}

row.activatable:hover,treeview.view:hover{ background-image: image(alpha(@gtk_selected_bg_color,0.15));}

/* Inverted Accent */

row.activatable:selected switch,
row.activatable:selected scale highlight,
row.activatable:selected check,
row.activatable:selected radio,
row.activatable:selected progressbar progress,
menuitem:hover switch,
menuitem:hover progressbar progress,
menuitem check:hover,
menuitem radio:hover,
menuitem:hover scale highlight,
.menuitem:hover switch,
.menuitem:hover progressbar progress,
.menuitem:hover check,
.menuitem:hover radio,
.menuitem:hover scale highlight,
modelbutton check:hover,
modelbutton radio:hover,
treeview.view switch:selected,
treeview.view scale highlight:selected,
treeview.view check:selected,
treeview.view radio:selected,
row.activatable:selected scale trough,
row.activatable:selected progressbar trough,
menuitem:hover scale trough,
menuitem:hover progressbar trough,
.menuitem:hover scale trough,
.menuitem:hover progressbar trough{}

row.activatable:selected check:disabled,
row.activatable:selected radio:disabled,
treeview.view check:disabled:selected,
treeview.view radio:disabled:selected{}

treeview.view:selected:disabled{ color: alpha(@gtk_fg_color,0.5);}

/* Sidebar Highlight */
.sidebar row.activatable:selected,
leaflet .vertical .view .frame list row.activatable:selected,
.tweak-categories row.activatable:selected
{box-shadow: inset 3px 0 @gtk_selected_bg_color;}

