/* General */

.view check,
.view radio,
.view check:selected,
.view radio:selected,
check,
radio,
.view.content-view.check:not(list),
iconview.content-view.check:not(list),
.content-view:not(list) check,
scale:hover slider,
scale.marks-after slider,
scale.marks-before slider,
switch,
progressbar progress,
scale highlight,
levelbar block,
scrollbar
{  transition: 0.5s;  }

menuitem check,
menuitem radio,
.menuitem check,
.menuitem radio,
popover check,
popover radio,
popover check:checked:not(:backdrop),
popover radio:checked:not(:backdrop),
popover check:indeterminate:not(:backdrop),
popover radio:indeterminate:not(:backdrop),
menu menuitem radio:checked:not(:backdrop),
menu menuitem radio:indeterminate:not(:backdrop),
menu menuitem check:checked:not(:backdrop),
menu menuitem check:indeterminate:not(:backdrop){transition: none; animation: none;}

/* Entries and Buttons */

button,
spinbutton:not(.vertical),
entry,
scrollbar slider,
notebook tab,
tabbox tab
{ transition: 0.3s ease;}

/* Loading Progressbar */

progressbar.horizontal progress:not(.pulse) {
	animation: progress 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	background-size: cover, 48px 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, transparent, transparent), linear-gradient(to right, transparent, alpha(currentcolor,0.2) 60%, alpha(currentcolor,0.3)); }
	
progressbar.horizontal progress:not(.pulse).right {
	animation-direction: reverse;
	background-image: linear-gradient(to bottom, transparent, transparent), linear-gradient(to right, alpha(currentcolor,0.3), alpha(currentcolor,0.2) 60%, transparent); }

@keyframes progress {  from { background-position: 0, calc(0% - 48px), 0%; } to { background-position: 0, calc(100% + 48px), 0%; } }

progressbar.horizontal progress:not(.pulse):backdrop,
progressbar.horizontal progress:not(.pulse).right:backdrop { animation : none; background-image: none;}

/* Rows */
.sidebar row.activatable:selected,
leaflet .vertical .view .frame list row.activatable:selected,
.tweak-categories row.activatable:selected{ transition: 0.5s ease-in-out;}
