@import url("animations.css");
@import url("palette.css");
@import url("accent.css");
@import url("widgets.css");
@import url("desktops.css");

/**********
 * Colors *
 **********/

@define-color gtk_fg_color white;
@define-color gtk_text_color @gtk_fg_color;
@define-color gtk_bg_color #333;
@define-color gtk_base_color #4c4c4c;

@define-color gtk_button_color @gtk_base_color;
@define-color gtk_alt_button_color @gtk_button_color;
@define-color gtk_widget_color alpha(currentcolor,0.1);

@define-color gtk_borders mix(@gtk_bg_color,black,0.5);
@define-color gtk_transparent_borders alpha(black,0.5);

@define-color gtk_highlight alpha(white,0.35);
@define-color gtk_shadow alpha(black,0.3);
@define-color text_shadow_color alpha(@panel_bg,0.5);
@define-color gtk_button_shadow alpha(@gtk_shadow,0.2);
@define-color gtk_menu_shadow alpha(@gtk_shadow,0.5);

@define-color gtk_selected_bg_color #0F6EE3;
@define-color gtk_selected_fg_color white;

@define-color warning_color #F2A024;
@define-color error_color #E64545;
@define-color success_color #36B34B;

@define-color gtk_titlebar_bg_color mix(@gtk_bg_color,black,0.2);
@define-color gtk_titlebar_bg_backdrop_color @gtk_bg_color;

@define-color gtk_titlebar_fg_color @gtk_fg_color;
@define-color gtk_sidebar_color mix(@gtk_bg_color,black,0.1);

@define-color panel_bg shade(@gtk_titlebar_bg_color,0.95);
@define-color panel_fg @gtk_titlebar_fg_color;

@define-color theme_fg_color @gtk_fg_color;
@define-color theme_text_color @gtk_fg_color;
@define-color theme_bg_color @gtk_bg_color;
@define-color theme_base_color @gtk_base_color;

@define-color theme_unfocused_fg_color @gtk_fg_color;
@define-color theme_unfocused_text_color @gtk_fg_color;
@define-color theme_unfocused_bg_color @gtk_bg_color;
@define-color theme_unfocused_base_color @gtk_base_color;

@define-color fg_color @gtk_fg_color;
@define-color text_color @gtk_fg_color;
@define-color bg_color @gtk_bg_color;
@define-color base_color @gtk_base_color;
@define-color text_view_bg @gtk_base_color;
@define-color content_view_bg @gtk_base_color;

@define-color insensitive_bg_color alpha(@gtk_base_color,0.3);
@define-color insensitive_fg_color alpha(@gtk_fg_color,0.5);
@define-color insensitive_base_color @gtk_base_color;
@define-color unfocused_insensitive_color @insensitive_fg_color;

@define-color borders @gtk_borders;
@define-color unfocused_borders @gtk_borders;
@define-color border_color @gtk_borders;

@define-color selected_bg_color @gtk_selected_bg_color;
@define-color selected_fg_color @gtk_selected_fg_color;
@define-color theme_selected_bg_color @gtk_selected_bg_color;
@define-color theme_selected_fg_color @gtk_selected_fg_color;
@define-color theme_unfocused_selected_bg_color @gtk_selected_bg_color;
@define-color theme_unfocused_selected_fg_color @gtk_selected_fg_color;

@define-color placeholder_text_color #A8A8A8;
@define-color link_color @gtk_selected_bg_color;

@define-color budgie_tasklist_indicator_color @panel_fg;
@define-color budgie_tasklist_indicator_color_active @panel_fg;
@define-color budgie_tasklist_indicator_color_active_window @gtk_selected_bg_color;
@define-color budgie_tasklist_indicator_color_attention @error_color;

@define-color metacity_theme @gtk_titlebar_bg_color;
@define-color wm_title @gtk_titlebar_fg_color;
@define-color wm_unfocused_title alpha(@gtk_titlebar_fg_color,0.5);
@define-color m_button_hover alpha(@gtk_titlebar_fg_color,0.1);
@define-color m_button_active	alpha(@gtk_titlebar_fg_color,0.2);
@define-color m_border	shade(@gtk_titlebar_bg_color,0.7);

@define-color tab_base_color @gtk_base_color;
@define-color colorAccent @gtk_selected_bg_color;
@define-color accent_color @gtk_selected_bg_color;
@define-color menu_separator @gtk_borders;

/* switch this at dark theme */

button.suggested-action,
check:checked,
check:indeterminate,
radio:checked,
radio:indeterminate,
treeview.view check:checked,
treeview.view check:indeterminate,
treeview.view radio:checked,
treeview.view radio:indeterminate,
.view.content-view.check:not(list):checked,
iconview.content-view.check:not(list):checked,
.content-view:not(list) check:checked,
switch,
progressbar progress,
progressbar trough,
levelbar block,
levelbar trough,
scale trough,
scale highlight{background-clip: padding-box; border: 1px solid @gtk_transparent_borders;}

/* active this on colorfull titlebars */

/*.titlebar entry:focus,.titlebar button.suggested-action{border-color: currentcolor; box-shadow: inset 0 0 0 1px currentcolor;}
.titlebar entry selection{background-color: @gtk_selected_fg_color; color: @gtk_selected_bg_color;}*/
