/* this is for alternative titlebars and panels */

.titlebar entry:focus{border-color: currentcolor;}

.titlebar entry selection,
.titlebar button.suggested-action{background-color: @gtk_selected_fg_color; color: @gtk_selected_bg_color;}

.titlebar button.suggested-action:disabled{background-color: alpha(@gtk_selected_fg_color,0.5);}
